@import "tailwindcss";

@theme {
  --color-brand-bg: #00101a;
  --color-brand-card: #002235cc;
  --color-brand-success: #0286c833;
  --color-brand-dark: #005481;
  --color-brand-primary: #006699;
  --color-brand-muted: #a0b8cc;
  --color-brand-accent: #4a9edd;
  --color-brand-primary-hover: #1a5fa0;
  --color-brand-subtext: #5a8ab0;
}

body {
  background-color: var(--color-brand-bg);
}
